@import url("theme.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
	font-family: "Roboto", sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #1B1B1B;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.wy-side-nav-search,
.wy-nav-side{
    background: none;
    background-color: #30374b;
}

.wy-side-nav-search > a img.logo,
.wy-side-nav-search .wy-dropdown > a img.logo{
    display: block;
    height: 130px;
    width: auto;
    margin: 23px;
    border-radius: 0;
    max-width: 100%;
    background: transparent;
}

.wy-side-nav-search a{
    font-size: 1.5em;
}

.wy-side-nav-search input[type="text"]
{
    border-color: #8E97AE;
    border-radius: 3px;
}

.wy-nav-content{
    max-width: 1100px;
}

.wy-nav-content a{
    color: #0366d6;
    background-color: inherit;
    font-weight:bolder;
}

.wy-nav-content a:hover{
    text-decoration: underline;
}

.rst-versions,
.rst-current-version{
    color: #fac92c;
}

.wy-menu-vertical li a span.toctree-expand{
    color:#ffffff;
    background-color: inherit;
}