// custom SUMMARY
.content{
  &_summary{
    overflow: auto;
    .wy-menu-vertical{
      width: 100%;
      // custom LINK SUMMARY
      .toctree-l1{
        position: relative;

        &:hover{
          background-color: $color-secondary;
        }

        &.show{
          .toctree-expand{
            transform: rotate(90deg);
          }
        }

        a{
          &.external{
            &::after{
              content: none;
            }
          }
          &:hover{
            background-color: transparent;
          }
        }

        ul{
          background-color: $color-background;
          .toctree-l2{
            a{
              margin: .4rem 0;
              padding: 0 3.5rem;
            }
            .toctree-l3{
              a{
                margin: .5rem 0;
                padding: 0 4.25rem;
              }
            }
            .toctree-l4{
              a{
                margin: .5rem .8rem;
              }
            }
          }
        }

        // custom SUBMENU ACTIVE OR VISIBLE
        &.current, &.show{
          a{
            padding: .5rem 2.5rem;
            background-color: $color-secondary;
            border: none;
            font-weight: inherit;
          }
          ul{
            .toctree-l2{
              &.current{
                a{
                  &::before{
                    opacity: 1;
                  }
                }
              }
              & > ul{
                display: block;
              }
              a{
                position: relative;
                background-color: $color-background;
                &::before{
                  width: 2px;
                  height: 100%;
                  content: "";
                  position: absolute;
                  left: 39px;
                  top: 0;
                  background-color: $color-secondary;
                  opacity: 0;
                }
                &:hover{
                  &::before{
                    opacity: 1;
                  }
                }
                &.active{
                  &::before{
                    opacity: 1;
                  }
                }
              }
              .toctree-l3{
                a{
                  &::before{
                    left: 55px;
                  }
                }
              }
            }
          }
        }

        // custom for SUBMENU & CARET DOWN
        &.show{
          a{
            color: $color-primary;
          }
          ul{
            display: grid;
          }
        }
      }
    }
    li.current{
      background: $color-background;
      ul{
        display: none;
      }
    }
  }
}