// custom SUMMARY
.content{
  &_summary{
    overflow: auto;
    // custom TITLE SUMMARY
    .caption{
      color: $color-primary;
      @include font-size(13px);
      text-transform: initial;
    }
    .wy-menu-vertical{
      width: 100%;
      // custom LINK SUMMARY
      .toctree-l1{
        position: relative;

        &:hover{
          background-color: $color-secondary;
        }

        // picto CARET
        .toctree-expand{
          width: 20px;
          height: 20px;
          position: absolute;
          top: 6px;
          left: 9%;
          cursor: pointer;
          &::before{
            content: "";
            position: absolute;
            left: 5px;
            top: 7px;
            display: inline-block;
            border-color: transparent transparent $color-primary;
            border-style: solid;
            border-width: 0px 0px 7px 7px;
            box-sizing: border-box;
            z-index: 1;
            @include transform(rotate(-45deg));
            @include transition(transform 0.2s ease);
          }
        }

        a{
          padding: .5rem 2.5rem;
          position: relative;
          color: $color-primary;
          font-family: $font-primary;
          &.external{
            &::after{
              content: none;
            }
          }
          &:hover{
            background-color: transparent;
          }
        }

        ul{
          .toctree-l2{
            a{
              margin: .4rem 0;
              padding: 0 3.5rem;
            }
            .toctree-l3{
              a{
                margin: .5rem 0;
                padding: 0 4.25rem;
              }
            }
            .toctree-l4{
              a{
                margin: .5rem .8rem;
              }
            }
          }
        }

        // custom SUBMENU ACTIVE OR VISIBLE
        &.current, &.show{
          .toctree-expand{
            &::before{
              border-color: transparent transparent $color-primary;
            }
          }
          a{
            background-color: $color-secondary;
            border: none;
            font-weight: inherit;
          }
          ul{
            .toctree-l2{
              & > ul{
                display: block;
              }
              a{
                position: relative;
                background-color: $color-background;
                &::before{
                  width: 2px;
                  height: 100%;
                  content: "";
                  position: absolute;
                  left: 39px;
                  top: 0;
                  background-color: $color-secondary;
                  opacity: 0;
                }
                &:hover{
                  &::before{
                    opacity: 1;
                  }
                }
                &.active{
                  &::before{
                    opacity: 1;
                  }
                }
              }
              .toctree-l3{
                a{
                  &::before{
                    left: 55px;
                  }
                }
              }
            }
          }
        }

        // custom for SUBMENU & CARET DOWN
        &.show{
          .toctree-expand{
            &::before{
              box-sizing: border-box;
              @include transform(rotate(45deg));
              @include transition(transform 0.2s ease);
            }
          }
          a{
            color: $color-primary;
          }
          ul{
            display: block;
          }
        }
      }

      // custom TUTORIAL TOCTREE
      .tutorial-toc{
        ol{
          margin-left: 42px;
          li{
            display: block;
            &::before{
              width: inherit;
              display: inline-block;
            }
            a{
              padding: .5rem;
              display: inline-block;
              &:hover{
                background-color: transparent;
              }
            }
          }
        }
      }
    }
    li.current{
      background: $color-background;
      ul{
        display: none;
      }
    }
  }

  &_prev-next{
    margin-top: 1rem;
    padding: 0 1.618em;
    @include flexbox;
    @include justify-content(space-between);
    .prev, .next{
      font-size: 80%;
    }
  }
}