.bimdata-documentation__layout.doc-api {
  padding-top: 1.5rem;
  max-width: inherit;
  flex-direction: column;
  .bimdata-documentation__layout__content__breadcrumb{
    width: calc(100% - 304px);
    margin-right: 1rem;
    margin-left: auto;
    .breadcrumb {
      display: flex;
      align-items: center;
      li {
        a{
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .section{
    display: flex;
    flex-direction: column;
  }
  & > .row,
  #api-reference > h1 {
    width: calc(100% - 292px);
    margin-right: 0;
    margin-left: auto;
    padding-right: 40px;
  }
  .wy-breadcrumbs {
    padding-left: 3rem;
  }
  #spectacle {
    width: 100%;
    display: flex;
    #page{
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      #sidebar{
        position: initial;
        display: inline-flex;
        flex-direction: column;
        background-color: white;
        border: none;
        overflow: auto;
        height: calc(100% - 60px);
        width: 250px;
        position: fixed;
        overflow: auto;
        top: 60px;
        flex: 1;
        padding: 0;
        #nav{
          padding-top: 1.5rem;
          .toctree-expand{
            width: 34px;
            height: 34px;
            background-size: 50%;

          }
          section{
            &.expand{
              background-color: var(--color-secondary);
            }
            ul{
              margin: 0;
              background-color: var(--color-white);
            }
            &:hover{
              background-color: var(--color-secondary);
            }
          }
        }
        .close-button {
          display: none;
        }
        h5{
          margin-top: .5rem;
          padding-left: 15px;
          color: var(--color-primary);
          text-transform: uppercase;
          font-size: calculateEm(13px);
        }
        a{
          margin: 0;
          padding-left: 2rem;
          height: 34px;
          color: var(--color-primary);
          font-family: $font-primary;
          line-height: 34px;
          font-size: 85%;
          &.active {
            color: var(--color-primary);
            background-color: var(--color-secondary);
          }
          &:hover{
            background-color: var(--color-secondary);
          }
        }
      }
      #docs{
        margin-right: 0;
        display: block;
        box-shadow: none;
        width: calc(100vw - 300px);
        margin-left: auto;
        flex: 3;
        .floating-menu-icon {
          display: none;
        }
      }
      .json-schema-ref{
        &::after {
          content: "";
          width: 100%;
          height: 1px;
          background-color: var(--color-primary);
          position: absolute;
          left: 0;
          bottom: 0;
          @include transform(scaleX(1));
          @include transform-origin(left);
          @include transition(transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1));
        }
        &:hover {
          &::after {
            @include transform(scaleX(0));
            @include transform-origin(right);
          }
        }
      }
      article{
        width: 100%;
        // custom LEFT BLOCK
        h1,
        h2 {
          color: var(--color-primary);
        }
        h1.doc-title {
          padding-left: 0;
        }
        .panel-title{
          position: relative;
          a{
            animation: none;
            position: absolute;
            left: 0px;
            top: -60px;
          }
        }
        p {
          padding: 0;
        }
        #introduction {
          .doc-copy {
            padding-left: 0 !important;
          }
        }
        .operation-tags {
          z-index: 1;
        }
        .operation-row {
          width: 50%;
          position: relative;
          .operation-id {
            padding-left: 2.25rem;
          }
        }
        .label {
          padding: 0 0.5rem;
          height: 22px;
          display: flex;
          align-items: center;
          background-color: var(--color-secondary);
          color: var(--color-primary);
          font-family: $font-primary;
          font-size: 11px;
          text-transform: uppercase;
        }
        .swagger-operation-path,
        .swagger-operation-description,
        .swagger-responses,
        .swagger-request-params,
        .swagger-request-body,
        .json-schema-properties,
        .json-schema-array-items {
          font-size: calculateEm(12px);
          &::before {
            margin-bottom: 0.25rem;
            color: var(--color-primary);
            font-size: calculateEm(16px);
          }
          span {
            font-size: calculateEm(12px);
          }
        }
        .prop-row {
          .prop-title {
            color: var(--color-primary);
          }
        }

        // custom RIGHT BLOCK
        .doc-examples {
          h5 {
            color: #fefefe;
            opacity: 0.8;
            font-size: calculateEm(13px);
            a {
              color: var(--color-secondary);
              font-family: $font-primary;
            }
            span {
              opacity: 0.5;
            }
          }
          code {
            font-family: "mononokibold";
          }
        }
      }
    }
  }
}
