// custom HOME
.bimdata-documentation__home{
  margin-top: 60px;
  width: 100%;
  &__gradient{
    display: flex;
    align-items: center;
    flex-direction: column;
    &::before{
      content: "";
      background: linear-gradient(162.76deg, #D1E6FF -9.05%, rgba(248, 248, 249, 0) 108.11%);
      height: 565px;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
  // bloc DOCUMENTATION
  &__documentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    &__title{
      h1{
        margin: calc( #{$spacing-unit} * 4) 0 calc( #{$spacing-unit} * 2);
        color: $color-primary;
        font-family: $font-primary_bold;
        @include font-size(25px);
      }
    }
    &__search{
      margin-bottom: 180px;
      input{
        padding: 0 calc( #{$spacing-unit} * 2);
        width: 776px;
        height: 56px;
        border: none;
        background-color: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      }
    }
    .test2{
      position: absolute;
      top: 16rem;
      z-index: -1;
    }
  }

  &__plugin, &__help, &__questions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__title{
      text-align: center;
      h2{
        margin-top: 0;
        color: $color-primary;
        @include font-size(25px);
      }
      p{
        @include font-size(16px);
      }
    }
  }
  &__plugin{
    margin-top: 64px;
    p{
      margin-bottom: 26px;
      width: 718px;
      text-align: center;
    }
  }
  &__help{
    margin-top: 58px;
    padding: 50px 0;
    background-color: $color-background;
    &__title{
      margin-bottom: calc(#{$spacing-unit} * 3);
      p{
        color: $color-primary;
      }
    }
    .cards-vertical{
      .card-vertical{
        margin: 0 17.5px;
      }
    }
  }
  &__questions{
    height: 250px;
    &__title{
      p{
        color: $color-text;
      }
    }
  }
}