// custom CONTENT
.content{
  // custom CONTENT
  &_layout{
    margin-top: 60px; 
    padding: 0 27px 4rem;
    .breadcrumb{
      margin: 0;
      li{
        margin: 0 7px;
        padding: 7px 9px;
        position: relative;
        background-color: $color-background;
        border-radius: 10px;
        @include font-size(13px);
        a{
          padding: 0;
          color: $color-primary;
          text-decoration: none;
        }
        &:first-child{
          a{
            i{
              margin: 0 .125rem .1rem 0;
              @include font-size(16px);
              vertical-align: middle;

            }
          }
        }
        &:last-child{
          &::after{
            content: "";
          }
        }
        &::after{
          content: " / ";
          position: absolute;
          top: 6px;
          right: -9px;
        }
      }
    }

    ul.simple{
      line-height: 2;
      li{
        padding: 0 0 0 1rem;
        position: relative;
        &::before{
          content: " ";
          position: absolute;
          background-color: $color-secondary;
          left: 0;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          top: 12px;
        }
      }
    }
    ol.simple{
      line-height: 2;
      li{
        dl{
          margin: 0;
          dt{
            margin: 0;
          }
        }
      }
    }
  }
}


// page CONCEPTS & GUIDE
#concepts, #guide, #cookbook, #tutorials{
  h1{
    @include font-size(27px);
    text-align: center;
    text-transform: uppercase;
  }
  .topic{
    margin: 37px auto;
    padding: 0 30px;
    width: 960px;
    height: 106px;
    background-color: $color-white;
    box-shadow: 0 2px 7px 0 rgba($color-black, .1);
    @include flexbox;
    @include align-items(center);
    p{
      margin: 0;
      a{
        &::after{
          content: none;
        }
      }
      &.topic-title{
        width: 300px;
        height: 100%;
        position: relative;
        @include flexbox;
        @include align-items(center);
        @include font-size(20px);
        line-height: 24px;
        &::after{
          content: "";
          position: absolute;
          width: 2px;
          height: 100%;
          top: 0;
          right: 0;
          background-color: $color-background;
        }
      }
    }
    blockquote{
      margin: 0;
      padding-left: 32px;
      width: 555px;
      line-height: 22px;
      @include font-size(16px);
    }
  }
}


// page RESULTATS RECHERCHE
#search-results{
  .context{
    .highlighted{
      padding: .1rem .2rem;
      background-color: $color-secondary;
      color: $color-primary;
      border-radius: 3px;
      font-weight: bold;
      letter-spacing: .02rem;
    }
  }
}

// page PARAMETERS & METHODS
#parameters-and-methods{
  #attributes{
    ul{
      li{
        padding: 0;
        &::before{
          content: none;
        }
      }
    }
  }
  h3{
    margin-bottom: 13px;
  }
}
table.field-list{
  margin-top: .5rem;
  width: inherit;
  tbody{
    tr{
      td{
        padding: 0 1rem;
        background-color: $color-white;
      }
    }
  }
}
