/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .bimdata-documentation__header__left{
    flex: 1;
  }
  .bimdata-cards{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bimdata-documentation__header__mobile-menu{
    display: none;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .bimdata-documentation__header__left{
    flex: 1;
  }
  .bimdata-cards{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bimdata-documentation__header__mobile-menu{
    display: none;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .bimdata-documentation__layout__summary {
    width: 200px;
    flex-basis: 200px;
  }
  .bimdata-documentation__layout__content {
    width: calc(100% - 200px);
  }
  .bimdata-documentation__header__menu,
  .bimdata-documentation__header__btns{
    display: none;
  }
  .bimdata-documentation__home{
    .bimdata-documentation__search{
      width: 90%;
      form{
        width: 100%;
      }
    }
    &__gradient{
      .bimdata-card{
        max-width: initial;
      }
    }
    &__help{
      .bimdata-cards{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .bimdata-card{
          min-height: 220px;
        }
      }
    }
  }
  .bimdata-card{
    &__content{
      padding: 0;
      &__text{
        min-height: initial;
      }
    }
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .bimdata-documentation__layout__summary {
    width: 200px;
    flex-basis: 200px;
  }
  .bimdata-documentation__layout__content {
    width: calc(100% - 200px);
  }
  .bimdata-documentation__header__menu,
  .bimdata-documentation__header__btns{
    display: none;
  }
  .bimdata-documentation__home{
    .bimdata-documentation__search{
      width: 90%;
      form{
        width: 100%;
      }
    }
    &__gradient{
      .bimdata-card{
        max-width: initial;
      }
    }
    &__help{
      .bimdata-card{
        min-height: 220px;
      }
    }
  }
  .bimdata-card{
    &__content{
      padding: 0;
      &__text{
        min-height: initial;
      }
    }
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .bimdata-documentation__layout__summary {
    width: 180px;
    flex-basis: 180px;
  }
  .bimdata-documentation__layout__content {
    width: calc(100% - 180px);
  }
  .bimdata-documentation__header__menu,
  .bimdata-documentation__header__btns{
    display: none;
  }
  .bimdata-documentation__home{
    .bimdata-documentation__search{
      width: 90%;
      form{
        width: 100%;
      }
    }
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .bimdata-documentation__layout__summary {
    width: 180px;
    flex-basis: 180px;
  }
  .bimdata-documentation__layout__content {
    width: calc(100% - 180px);
  }
  .bimdata-documentation__header__menu,
  .bimdata-documentation__header__btns{
    display: none;
  }
  .bimdata-documentation__home{
    .bimdata-documentation__search{
      width: 90%;
      form{
        width: 100%;
      }
    }
  }
}