/* custom NAVBAR
---------------------------------------- */
.navbar{
  background-color: rgba(255,255,255,1);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
  header{
    height: 60px;
    width: 100%;
    align-items: center;
    // navbar LOGO
    .navbar-logo{
      a, .version{
        display: inline-block;
      }
      a{
        img{
          width: 100px;
        }
      }
      .version{
        span{
          width: 24px;
          display: block;
          @include font-size(10px);
          text-align: center;
        }
      }
    }

    // navbar SEARCH
    .navbar-search{
      #rtd-search-form{
        position: relative;
        input{
          margin: 0;
          padding: 0 2rem;
          width: 100%;
          position: relative;
          border: none;
          box-shadow: none;

          &:-webkit-autofill{
            -webkit-box-shadow: 0 0 0 1000px #fff inset;
          }
        }
        &::before{
          content: "";
          position: absolute;
          background-image: url("../_images/bimdata_loupe.svg");
          height: 14px;
          width: 14px;
          background-size: cover;
          background-position: center;
          z-index: 10;
          top: 12px;
        }
      }
    }

    // navbar MENU
    .navbar-menu{
      ul{
        margin: 0;
        @include flexbox;
        @include justify-content(center);
        li{
          display: inline-block;
          a{
            padding: 22px;
            position: relative;
            display: block;
            color: $color-primary;
            @include font-size(10px);
            font-family: $font-primary_medium;
            &:hover{
              text-decoration: none;
              &::after{
                background-color: rgba($color-secondary, .3);
                opacity: 1;
                @include transform(scaleX(1));
                @include transform-origin(left);
              }
            }
            &::after{
              height: 3px;
              width: 100%;
              content: '';
              position: absolute;
              display: inline-block;
              left: 0;
              bottom: 0;
              background-color: $color-secondary;
              opacity: 0;
              @include transition(.3s ease all);
              @include transform(scaleX(0));
              // @include transform-origin(right);
            }
            &.active{
              &::after{
                opacity: 1;
                @include transform(scaleX(1));
              }
            }
          }
        }
      }
    }

    // navbar BTN
    .navbar-btn{
      .row{
        justify-content: flex-end;
      }
      .btn{
        height: 32px;
        width: 95%;
        border: none;
        border-radius: 3px;
        box-shadow: none;
        line-height: 32px;
        @include font-size(12px);
        &.btn-primary{
          background-color: rgba($color-primary,1);
        }
        &.btn-shadow{
          background-color: rgba($color-primary,0);
          color: $color-primary;
          @include transition(all .2s cubic-bezier(.35,0,.25,1));
          &:hover{
            background-color: rgba($color-primary,0.05);
            @include transition(all .2s cubic-bezier(.35,0,.25,1));
          }
        }
      }
    }
  }
}
