/* custom NAVBAR
---------------------------------------- */
.navbar{
  header{
    // navbar LOGO
    .navbar-logo{
      a, .version{
        display: inline-block;
      }
      a{
        img{
          width: 100px;
        }
      }
      .version{
        span{
          width: 24px;
          display: block;
          @include font-size(10px);
          text-align: center;
        }
      }
    }

    // navbar SEARCH
    .navbar-search{
      #rtd-search-form{
        position: relative;
        input{
          margin: 0;
          padding: 0 2rem;
          width: 100%;
          position: relative;
          border: none;
          box-shadow: none;

          &:-webkit-autofill{
            -webkit-box-shadow: 0 0 0 1000px #fff inset;
          }
        }
        &::before{
          content: "";
          position: absolute;
          background-image: url("../_images/bimdata_loupe.svg");
          height: 14px;
          width: 14px;
          background-size: cover;
          background-position: center;
          z-index: 10;
          top: 6px;
        }
      }
    }

    // navbar MENU
    .navbar-menu{
      ul{
        li{
          a{
            padding: 18px;
            font-family: $font-primary;
            @include font-size(14px);
          }
        }
      }
    }

    // navbar BTN
    .navbar-btn{
      .btn-primary{
        @include transition(all ease .3s);
        &:hover{
          background-color: $color-primary-d20;
          @include transition(all ease .3s);
        }
      }
    }
  }
}
