table {
  width: 100%;
  border: none;
  tr{
    th, td{
      padding: $spacing-unit;
      position: relative;
      border: none;
      font-size: calculateEm(14px);
      text-align: left;
    }
  }
  thead{
    border: none;
    tr{
      td{
        height: calc(#{$spacing-unit} * 3);
        background-color: transparent;
        color: var(--color-black);
      }
    }
  }
  tbody{
    tr{
      td{
        color: var(--color-tertiary-darkest);
      }
      &:nth-child(odd){
        background-color: var(--color-tertiary-lightest);
      }
      &:nth-child(even){
        background-color: var(--color-white);
      }
    }
  }
  caption {
    padding: .75rem 0;
    color: var(--color-primary);
    caption-side: bottom;
    letter-spacing: .05rem;
    font-weight: 700;
    text-align: right;
    font-size: calculateEm(10px);
  }

}
// custom CODE TABLE
.highlight-html, .highlight-javascript, .highlight-python, .highlight-default{
  .highlighttable{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    tbody{
      width: 100%;
      tr{
        width: 100%;
        display: flex;
        .linenos{
          background: none;
          padding: 0 .4rem;
          background-color: #272822;
          color: rgba(255,255,255,.6);
          pre{
            margin: 0;
            color: rgba(255,255,255, .6);
          }
        }
        .code{
          width: calc(100% - 61px);
          background: none;
          padding: 0;
          background-color: #272822;
          flex: auto;
          .highlight{
            width: 100%;
            pre{
              margin: 0;
            }
          }
        }
      }
    }
  }
}