table {
  width: 100%;
  border: none;
  tr{
    display: flex;
    th, td{
      padding: calc(#{$spacing-unit} / 2) $spacing-unit;
      min-height: calc(#{$spacing-unit} * 4);
      align-items: center;
      position: relative;
      display: flex;
      flex: 1;
      align-items: center;
      border: none;
      @include font-size(12px);
    }
  }
  thead{
    border: none;
    tr{
      td{
        height: calc(#{$spacing-unit} * 3);
        background-color: transparent;
        color: $color-black;
      }
    }
  }
  tbody{
    tr{
      td{
        color: $color-text;
      }
      &:nth-child(odd){
        background-color: $color-background;
      }
    }
  }
  caption {
    padding: .75rem 0;
    color: $color-primary;
    caption-side: bottom;
    letter-spacing: .05rem;
    font-weight: 700;
    text-align: right;
    @include font-size(10px);
  }

}
// custom CODE TABLE
.highlight-html, .highlight-javascript, .highlight-python{
  .highlighttable{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    tbody{
      width: 100%;
      tr{
        width: 100%;
        display: flex;
        .linenos{
          background: none;
          padding: 0 .4rem;
          background-color: #272822;
          color: rgba(255,255,255,.6);
          pre{
            margin: 0;
            color: rgba($color-white, .6);
          }
        }
        .code{
          width: calc(100% - 61px);
          background: none;
          padding: 0;
          background-color: #272822;
          .highlight{
            width: 100%;
            pre{
              margin: 0;
            }
          }
        }
      }
    }
  }
}