/* variables FONTS ------------------------------------- */
$font-primary: 'robotoregular', sans-serif;
$font-primary_medium: 'robotomedium', sans-serif;
$font-primary_bold: 'robotobold', sans-serif;
$font-size: 14px;

@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto-bold-webfont.woff') format('woff2'),
       url('../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoitalic';
  src: url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
       url('../fonts/roboto-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('../fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$color-blue: rgba(32, 93, 189, 1);
$color-green: rgba(0, 175, 80, 1);
$color-grey: rgba(123, 123, 123, 1);
$color-orange: rgba(255, 145, 0, 1);
$color-red: rgba(255, 61, 30, 1);

/* base FONT SIZE ----------------------------------------- */
$font-size: 14px;

/* base SPACING UNIT -------------------------------------- */
$spacing-unit: 12px;
$size-btn-options: 45px;
