@import "../../node_modules/@bimdata/utils/scss/common.scss";
@import "home";
@import "layout";
@import "navbar";

html, body{
  padding: 0;
  background-color: rgba(255,255,255,1);
  color: rgba(151,151,151,1);
  font-family: $font-primary;
  @include font-size(14px);
}

/* custom GLOBAL
---------------------------------------- */
h1, h2, h3, h4{
  font-weight: inherit;
}
h1{
  margin-top: 1.4rem;
}
h2{
  margin-top: 2rem;
}
h3{
  margin-top: 1rem;
}
a{
  color: $color-primary;
  font-family: $font-primary_medium;
  position: relative;
  &:hover{
    color: $color-primary;
    text-decoration: none;
  }
  &:visited{
    color: $color-primary;
  }
  &.headerlink{
    display: none;
  }
}
p, ul, ol{
  a.reference.external{
    position: relative;
    &::after{
      content: "";
      width: 100%;
      height: 1px;
      background-color: $color-primary;
      position: absolute;
      left: 0;
      bottom: 0;

      @include transform(scaleX(0));
      @include transform-origin(right);
      @include transition(transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1));
    }
    &:hover{
      &::after{
        @include transform(scaleX(1));
        @include transform-origin(left);
      }
    }
  }
}
p{
  margin: 0;
  @include font-size(12px);
}
ul{
  li{
    @include font-size(12px);
  }
}
pre{
  margin-top: 1rem;
  padding: 1rem;
  color: $color-white;
  @include font-size(12px);
}
code{
  &.literal{
    padding: .5rem;
    background-color: $color-background;
    border: none;
  }
}

// custom ADMONITION WARNING, NOTE, IMPORTANT, ALERT
.admonition{
  margin: 24px 0;
  padding: 12px;
  box-shadow: 0 2px 10px 0 rgba($color-black,.1);
  .admonition-title{
    margin: -12px -12px 12px -12px;
    padding: 6px 12px;
    color: $color-primary;
    display: block;
    @include font-size(13px);
    &::before{
      content: "!";
      height: 23px;
      width: 23px;
      display: inline-block;
      border-radius: 50%;
      color: $color-white;
      line-height: 1.5;
      margin-right: 10px;
      text-align: center;
    }
  }
  .last{
    @include font-size(13px);
  }
  blockquote{
    margin: 0 0 0 24px;
    line-height: 24px;
  }
  &.important{
    .admonition-title{
      background: #EAFFF1;
      &::before{
        background-color: #4DBD74;
      }
    }
  }
  &.warning{
    .admonition-title{
      background: #FFF9E7;
      &::before{
        background-color: #F9C72C;
      }
    }
  }
  &.note{
    background: $color-white;
    .admonition-title{
      background: #EFF7FF;
      &::before{
        background-color: $color-primary;
      }
    }
  }
}
