@import "../../node_modules/@bimdata/utils/scss/common.scss";
@import "home";
@import "layout";
@import "navbar";

html, body{
  padding: 0;
  background-color: rgba(255,255,255,1);
  color: rgba(151,151,151,1);
  font-family: $font-primary;
  @include font-size(14px);
}

.container-fluid, .container, [class*="col-"]{
  padding: 0;
}

/* custom GLOBAL
---------------------------------------- */
h1, h2, h3, h4{
  color: $color-primary;
  font-weight: inherit;
}
h1{
  margin-top: 1.4rem;
  font-family: $font-primary_bold;
  @include font-size(20px);
}
h2{
  margin-top: 2rem;
  font-family: $font-primary_medium;
  @include font-size(18px);
}
h3{
  margin-top: 1rem;
  font-family: $font-primary_bold;
  @include font-size(16px);
}
h4{
  font-family: $font-primary_medium;
  @include font-size(15px);
}
a{
  color: $color-primary;
  font-family: $font-primary_medium;
  position: relative;
  &:hover{
    color: $color-primary;
    text-decoration: none;
  }
  &:visited{
    color: $color-primary;
  }
  &.headerlink{
    display: none;
  }
}
p, ul, ol{
  a.reference.external{
    position: relative;
    &::after{
      content: "";
      width: 100%;
      height: 1px;
      background-color: $color-primary;
      position: absolute;
      left: 0;
      bottom: 0;

      @include transform(scaleX(0));
      @include transform-origin(right);
      @include transition(transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1));
    }
    &:hover{
      &::after{
        @include transform(scaleX(1));
        @include transform-origin(left);
      }
    }
  }
}
p{
  margin: 0;
  @include font-size(12px);
}
ul{
  li{
    @include font-size(12px);
  }
}
pre{
  padding: 1rem;
}

// custom ADMONITION WARNING, NOTE, IMPORTANT, ALERT
.admonition{
  margin: 24px 0;
  padding: 12px;
  .admonition-title{
    margin: -12px -12px 12px -12px;
    padding: 6px 12px;
    color: $color-white;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
  }
  blockquote{
    margin: 0 0 0 24px;
    line-height: 24px;
  }
  &.important{
    background: #dbfaf4;
    .admonition-title{
      background: #1abc9c;
    }
  }
  &.warning{
    background: #ffedcc;
    .admonition-title{
      background: #f0b37e;
    }
  }
  &.note{
    background: #e7f2fa;
    .admonition-title{
      background: #6ab0de;
    }
  }
}
