html_doc/
node_modules/
.v_env/
npm-debug.log
.vscode

doc_sphinx/_static/api/
doc_sphinx/_static/css/style.css
doc_sphinx/_static/BIMData_documentation.pdf

doc_sphinx/package-lock.json
doc_sphinx/_build/
__pycache__/
