body{
    background-color: #ffffff;
}

redoc{
    background-color: red;
}

.menu-content{
    color: #c0c0c0;
    background-color: #30374b;
    width: 320px;
}

.menu-content li label:hover,
.menu-content li label.active{
    color: #30374b;
}

.menu-content li label {
    transition: .2s ease all;
}

.menu-content li label:hover{
    background-color: #c9c9c9;
}