Sphinx==2.1.1
sphinx-rtd-theme==0.4.3
Pygments==2.4.2
sphinxprettysearchresults==0.3.5
Sphinx-Substitution-Extensions==2019.6.15.0 
sphinx-copybutton==0.2.5
sphinxcontrib-contentui==0.2.4
scrapy==1.7.3
