Sphinx==3.1.2
sphinx-rtd-theme==0.4.3
Pygments==2.6.1
sphinxprettysearchresults==0.3.5
sphinx-prompt===1.1.0
Sphinx-Substitution-Extensions==2020.07.04.1
sphinx-copybutton==0.2.11
sphinxcontrib-contentui==0.2.5
scrapy==1.8.0
sphinx-notfound-page==0.4