version: 2

references:
  container_config: &container_config
    docker:
      - image: circleci/python:3.7
    working_directory: ~/repo

  restore_repo: &restore_repo
    restore_cache:
      keys:
        - repo-{{ .Branch }}-{{ .Revision }}

jobs:
  checkout_code:
    <<: *container_config
    steps:
      - *restore_repo
      - checkout
      - save_cache:
          key: repo-{{ .Branch }}-{{ .Revision }}
          paths:
            - .

  build:
    <<: *container_config
    steps:
      - *restore_repo
      - add_ssh_keys
      - setup_remote_docker
      - run:
          name: push to docker hub
          command: |
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            docker build -t bimdata/documentation:latest . --build-arg SSH_KEY="$(cat ~/.ssh/id_rsa_6fd5afef4aa2ba7f4fb9673e65e74e71)"
            docker push bimdata/documentation:latest

  deploy:
    <<: *container_config
    steps:
      - setup_remote_docker
      - run:
          name: push to docker hub
          command: |
            # deploy master branch
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            docker pull bimdata/deployment:latest
            docker run -it bimdata/deployment:latest ansible-playbook -i inventories/staging deploy.yml --tags=documentation --extra-vars "ansible_ssh_private_key_file=./files/deploy_rsa" --user=deploy

workflows:
  version: 2
  test_and_deploy:
    jobs:
      - checkout_code
      - build:
          requires:
            - checkout_code
      - deploy:
          requires:
            - checkout_code
            - build
          filters:
            branches:
              only:
                - master
