
.swagger-ui {
  // custom SCHEME CONTAINER
  .scheme-container {
    box-shadow: none;
    .schemes {
      & > label {
        display: none;
      }
      .auth-wrapper {
        .btn.authorize {
          height: 32px;
          display: flex;
          align-items: center;
          border: none;
          background-color: var(--color-primary);
          color: var(--color-white);
          span {
            margin-right: 0.5rem;
            padding: 0;
          }
          svg {
            width: 12%;
            fill: var(--color-white);
          }
          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
  // custom WRAPPER
  .wrapper {
    padding: 0;
    margin: 0;
    max-width: 100%;
    .opblock-tag {
      margin-bottom: 1rem;
      border-bottom: 0.5px solid var(--color-tertiary-lightest);
    }
    .opblock {
      &.opblock-get,
      &.opblock-post,
      &.opblock-put,
      &.opblock-patch,
      &.opblock-delete {
        border: none;
      }
      .opblock-summary{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        &-method{
          width: 90px;
          font-family: "robotoregular";
          font-weight: 400;
          font-size: 13px;
          grid-column: 1;
          grid-row: 1;
        }
        &-path, &-path__deprecated{
          padding: 0;
          grid-column: 2 / 6;
          grid-row: 1;
          font-size: 14px;
          font-family: "robotomedium";
          word-break: break-all;
        }
        &-description{
          grid-column: 2 / 6;
          grid-row: 2;
          font-size: 12px;
          font-family: "robotoregular";
        }
        &-operation-id{
          grid-column: 2 / 6;
          grid-row: 3;
          font-size: 12px;
          font-family: "robotoregular";
        }
        .authorization__btn{
          grid-column: 6;
          grid-row: 1;
          svg{
            width: 14px;
          }
        }
      }
      .opblock-body {
        .opblock-section-header{
          padding: 0 30px;
          height: 50px;
          background-color: var(--color-tertiary-lightest);
          box-shadow: none;
          justify-content: space-between;
           // custom TRY OUT BTN
          .try-out {
            margin-left: 1rem;
            .btn {
              border: none;
              background-color: var(--color-secondary);
              box-shadow: none;
              color: var(--color-primary);
              font-weight: normal;
              font-size: calculateEm(12px);
              &:hover {
                background-color: var(--color-secondary);
                box-shadow: none;
              }
            }
          }
          // custom SELECT
          .content-type{
            padding: 0;
            min-width: auto;
            background: none;
            border: none;
            box-shadow: none;
            font-size: calculateEm(12px);
          }
        }
        // custom TABLES WRAPPER
        table{
          tr{
            td{
              div, p {
                font-size: 13px;
              }
            }
          }
          thead{
            .col{
              padding: 15px 10px;
              // height: 52px;
              width: inherit;
              border: none;
              color: var(--color-primary);
              font-size: calculateEm(14px);
              &.response-col_status, &.parameters-col_name{
                flex: 1;
                font-family: $font-primary;
                align-items: flex-start;
              }
              &.response-col_description, &.parameters-col_description{
                flex: 6;
              }
              &.parameters-col_description, .response-col_description__inner {
                .markdown{
                  padding: 10px;
                  font-size: 0.85714em;
                }
              }
            }
          }
          tbody{
            tr {
              td{
                padding: 10px;
                word-break: break-all;
                &.parameters-col_name, &.response-col_status{
                  flex: 1;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: center;
                  .parameter__name {
                    font-family: $font-primary;
                    font-size: calculateEm(12px);
                    &.required {
                      font-weight: normal;
                      span {
                        position: relative;
                        bottom: 1px;
                        font-size: calculateEm(9px);
                        vertical-align: super;
                      }
                      &::after{
                        font-size: calculateEm(9px);
                        letter-spacing: .5px;
                      }
                    }
                  }
                  .parameter__in{
                    font-family: $font-primary;
                    font-style: normal;
                    font-size: 10px;
                    letter-spacing: .5px;
                  }
                }
                &.parameters-col_description, &.response-col_description{
                  flex: 6;
                }
                &.response-col_description{
                  .response-content-type ~ div{
                    width: 100%;
                    .tab,
                    .body-param-options {
                      padding: 0 10px;
                    }
                    .tab {
                      li {
                        &:first-of-type:after {
                          right: 5px;
                        }
                      }
                    }
                  }
                }
              }
            }
            // custom MODEL ITEM
            .model-box {
              background: none;
              .model-title{
                font-family: $font-primary;
                font-size: calculateEm(12px);
              }
            }
          }
          // custom MODEL TABLE
          &.model {
            margin-top: 10px;
            font-family: "mononokibold";
            tbody tr td {
              &:nth-child(even){
                flex: 6;
              }
              &:first-child{
                span {
                  position: relative;
                  bottom: 4px;
                  font-size: calculateEm(9px);
                  vertical-align: super;
                }
              }
            }
          }
          pre {
            border-radius: 0;
            font-family: "mononokibold";
          }
        }
        .table-container, .responses-inner{
          padding: 0 20px;
        }
        // custom RESPONSES WRAPPER
        .responses-wrapper{
          table{
            thead{
              tr{
                td{
                  border: none;
                }
              }
            }
          }
        }
      }
    }
  }

  textarea {
    &:focus {
      border: none;
    }
  }

  // custom AUTHORIZE MODAL
  .modal-ux {
    .close-modal {
      svg {
        fill: var(--color-primary);
      }
    }
    .btn {
      font-weight: normal;
      font-size: 12px;
      box-shadow: none;
      &.authorize.button {
        margin-right: 1em;
      }
      &.btn-done {
        border: none;
        color: var(--color-primary);
        &:hover {
          background-color: var(--color-tertiary-lightest);
        }
      }
    }
  }

  // custom ERRORS
  .errors-wrapper {
    border-width: 0.5px;
    .errors__clear-btn {
      background-color: var(--color-primary);
      border: none;
      box-shadow: none;
      color: var(--color-white);
      font-weight: normal;
      font-size: 12px;
      &:hover {
        background-color: var(--color-primary);
      }
    }
    .errors {
      .error-wrapper {
        span {
          color: var(--color-tertiary-darkest);
        }
      }
    }
  }
}