.bimdata-btn {
  padding: 0 $spacing-unit;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: $color-primary;
  cursor: pointer;
  font-size: calculateEm(12px);
  transition: all 0.1s ease;
  &:hover{
    transition: all .25s ease-in;
  }
  &:focus {
    outline: none;
  }
  svg{
    margin: 0 calc(#{$spacing-unit} / 2);
  }
  svg:only-child {
    margin: 0;
  }
  /* style BIMDATA BTN RADIUS ------------------ */
  &__radius {
    border-radius: 3px;
  }
  &__square {
    border-radius: 0;
  }
  &__rounded {
    padding: 0;
    border-radius: 50%;
  }
  /* style BIMDATA BTN FILL -------------------- */
  &__fill {
    justify-content: center;
    /* style BIMDATA BTN DEFAULT FILL ---------- */
    &--default {
      box-shadow: 0 2px 10px 0 rgba($color-black, 0.1);
      &:hover{
        background-color: $color-tertiary-lightest;
      }
    }
    /* style BIMDATA BTN PRIMARY FILL ---------- */
    &--primary {
      background-color: $color-primary;
      color: $color-white;
      &:hover{
        background-color: lighten($color-primary, 6%);
      }
    }
    /* style BIMDATA BTN SECONDARY FILL ---------- */
    &--secondary {
      background-color: $color-secondary;
      color: $color-primary;
      &:hover{
        background-color: lighten($color-secondary, 10%);
      }
    }
    /* style BIMDATA BTN GREY FILL ------------- */
    &--grey {
      background-color: $color-tertiary-dark;
      color: $color-white;
      &:hover{
        background-color: lighten($color-tertiary-dark, 10%);
      }
    }
    /* style BIMDATA BTN GREY FILL ------------- */
    &--red {
      background-color: $color-high;
      color: $color-white;
      &:hover{
        background-color: lighten($color-high, 6%);
      }
    }
    /* style BIMDATA BTN FILL BTN ICON --------- */
    &--btn-icon {
      svg {
        margin: 0 6px;
      }
    }
    &:disabled{
      background-color: $color-disabled;
      color: $color-white;
    }
  }
  &__outline {
    justify-content: center;
    border: 1px solid;
    &--default {
      border-color: $color-tertiary;
      color: $color-primary;
      &:hover{
        background-color: $color-tertiary-lightest;
      }
    }
    &--primary {
      border-color: $color-primary;
      color: $color-primary;
      &:hover{
        background-color: lighten($color-primary, 74%);
      }
    }
    &--secondary {
      border-color: $color-secondary;
      color: $color-primary;
      &:hover{
        background-color: lighten($color-secondary, 40%);
      }
    }
    &--grey {
      border-color: $color-tertiary-dark;
      color: $color-tertiary-dark;
      &:hover{
        background-color: $color-tertiary-lightest;
      }
    }
    &--red {
      border-color: $color-high;
      color: $color-high;
      &:hover{
        background-color: lighten($color-high, 40%);
      }
    }
    &:disabled{
      border-color: $color-disabled;
      color: $color-disabled;
    }
  }
  &__ghost {
    justify-content: center;
    svg {
      display: flex;
      align-items: center;
    }
    &--default {
      color: $color-primary;
      &:hover{
        background-color: $color-tertiary-lightest;
      }
    }
    &--primary {
      color: $color-primary;
      &:hover{
        background-color: lighten($color-primary, 74%);
      }
    }
    &--secondary {
      color: $color-secondary;
      &:hover{
        background-color: lighten($color-secondary, 40%);
      }
    }
    &--grey {
      color: $color-tertiary-dark;
      &:hover{
        background-color: $color-tertiary-lightest;
      }
    }
    &--red {
      color: $color-high;
      &:hover{
        background-color: lighten($color-high, 40%);
      }
    }
    &:disabled{
      color: $color-disabled;
      cursor: auto;
    }
  }
}
